* {
   background: whitesmoke;;
   
}

.outer-main {
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    background-image: url('../public/music.png'); 
    background-repeat: no-repeat;
    display: grid;
    margin-top: 50px;
    margin-left: 550px;
}

.todoTitle {
    border: solid black 1px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 250px 250px 250px -100px;
    border-radius: 20px;
    width: 500px;
    height: 200px;
}

.todo2 {
    text-align: center;
    border: solid black 1px;
    display: grid;
    justify-content: center;
  width: 40%;
   margin: auto;
    border-radius: 20px;
    /* width: 500px; */
    height: 600px;
}


.title {
    width: 250px;
    display: grid;
    justify-content: center;
    margin-left: 15%;
}

.main-par {


}
/* need button styling */
.next {
  
}

.summary-title {
    margin-left: auto;
}